*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.full{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(background.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.nav-bar{
    display: flex;
    padding: 40px 120px;
}
.nav-logo img{
    width: 90px;
    margin-left: -36px;
    margin-top: -17px;
}
.nav-links{
    flex: 1;
}
.nav-links ul{
    margin-left: -452px;
    display: inline;
    float: right;
    margin-right: 40px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;  
    color: #fff;  
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #00FFFF;
    display: block;
    margin: auto; 
    transition: .5s;  
}
.nav-links ul li:hover a::after{
    width: 100%;
}
.btn{
    padding: 10px 20px;
    border: 0;
    background: #00FFFF;
    font-weight: bold;
    cursor: pointer;
}
.nav-links .btn{
    float: right;
    margin-right: -81px;
}
.banner-title{
    margin: 80px 130px;
    color: #fff;
}
.banner-title h1{
    font-size: 65px;
    margin-bottom: 30px;
}
.banner-title h1 span{
    color: #00FFFF;
}
.vertical-bar{
    height:100%;
    background: #000;
    top:0;
    left: 0;
    position: absolute;
}
.search-icons{
    height: 60%;
    width:80px;   
}
.search-icons .fa{
    margin: 45px 23px;
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.social-icons{
    height: 35%;
    width: 80px;
    background: #00FFFF;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}
.social-icons .fa{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
.notification{
    display: flex;
    width: 160px;
    right: 20px;
    bottom: 20px;
    position: absolute;
    background: #00FFFF;
    align-items: center;
}
.nav-bar .fa{
    display: none;
}
.brand h3{
    color: silver;
    margin-left: 26px;
    margin-top: 5px;
    font-family: 'Merriweather', serif;
    font-size: 31px;
}
.brand h3 span{
    color: violet;
    font-family: 'Merriweather', serif;
}

@media (max-width: 800px){
    .vertical-bar{
        display: none;
    }
    .banner-title{
        margin: 80px 40px;
    }
    .banner-title h1{
        font-size: 50px;
    }  
    .notification{
        width: 100%;
    }
    .nav-bar{
        padding: 10px 30px;
    }
    .fa-bars{
        position: absolute;
        right: 20px;
        top: 10px;    
    }
    .nav-bar .fa{
        display: block;
        color: #fff;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links{
        height:100vh;
        width: 200px;
        background: #000;
        top:0;
        right:-200px;
        position: absolute;
        text-align: left;
        z-index: 2;

    }
    .nav-links ul a{
        display: block;
    }
    .nav-links .btn{
        float: none;
        margin-left: 43px;
        margin-top: 141px;

    } 
    .notification{
        
        bottom: -76px;
        width: 50%;
        right: 141px;
    }

}






